<html>
    <head>
        <title>Facebook OAUTH2 example project</title>
    </head>
    <body>
     
	HOME TEMPLATE
	{% load facebook %}
    {% facebook_button %}
	
	<br><br>
	
    </body>
</html>
