<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Battlechess</title>

    <style type="text/css">
      html, body {height: 100%; margin: 0; border: 0; overflow:hidden; min-width: 400px;}
      #flashcontent {height: 100%; overflow:hidden;}
    </style>

	{% load facebook %}
	{% if request.user.is_authenticated %}
    <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
		<script type="text/javascript">
		    // IE7 Click-to-activate fix
		    // <![CDATA[

		    var flashvars = {};
		    flashvars.userName = {%if request.user.name %}"{{request.user.name|escape}}"{% else %} "Guest" {% endif %};
		    flashvars.userId = {{request.user.id|escape}};
		    flashvars.ticket = "{{request.session.session_key}}";

		    var params = {};
		    params.quality = "high";
		    params.allowfullscreen = "true";
		    params.allowscriptaccess = "sameDomain";
		
		    var attributes = {};
		    attributes.id = "battlechess";
		    swfobject.embedSWF("static/swf/cclient.swf?v=1", "flashcontent", "800", "500", "10.0.0", "static/swf/expressInstall.swf", flashvars, params, attributes);
		    // ]]>
		</script>
	{% endif %}
</head>
<body>
	{% if not request.user.is_authenticated %}
		<h1>Please login</h2>
		<ol>
		    <li>{% facebook_button %}</li>
		</ol>
	{% else %}
		<h1>Hi, {{ request.user }}</h1>
	{% endif %}
	

	{% if request.user.is_authenticated %}
		<a href="{% url socialregistration:logout %}">Logout</a>
		<div id="flashcontent">
	    <!-- Content if Flash Player isn't installed -->
	    <p>Please install <a href="http://get.adobe.com/flashplayer/">Flash Player</a></p>
	  </div>
	{% endif %}
	
	<h4>Connected profiles:</h4>
	
	<ol>
		<li>Facebook: {{ facebook.count }}</li>
	</ol>

</body>
</html>
